{% load static %}

<nav class="navbar">

    <div class="logo-section">

        <img src="{% static 'products/images/logo.png' %}" alt="Logo">

        <h2>Mookambika</h2>

    </div>

    <ul class="nav-links">

        <li><a href="/">Home</a></li>

        <li><a href="#">Collections</a></li>

        <li><a href="#">Wedding</a></li>

        <li><a href="#">Silk Sarees</a></li>

        <li><a href="#">New Arrivals</a></li>

        <li><a href="#">Contact</a></li>

    </ul>

    <div class="nav-icons">

        <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="icon">
            <i class="fa-regular fa-heart"></i>
            <span>2</span>
        </div>

        <div class="icon">
            <i class="fa-solid fa-bag-shopping"></i>
            <span>3</span>
        </div>

    </div>

</nav>